
<div *ngIf="users && users.length > 0" >
  <div *ngFor="let user of users;" class="cardPlayer">
    <img src="favicon.ico" />
    <h1 class="namePlayer">{{user.name}}</h1>
  </div>

</div>


<!--<div class="cardPlayer">-->
<!--  <img src="favicon.ico" />-->
<!--  <h1 class="namePlayer">Toto</h1>-->
<!--</div>-->

<!--<div class="cardPlayer">-->
<!--  <img src="favicon.ico" />-->
<!--  <h1 class="namePlayer">Jean</h1>-->
<!--</div>-->

<!--<div class="cardPlayer">-->
<!--  <img src="favicon.ico" />-->
<!--  <h1 class="namePlayer">Paul</h1>-->
<!--</div>-->
