.cardPlayer{
  display: flex;
  margin-left: 10px;
  border: 1px solid #979797;
  border-radius: 4px;
  background-color: blanchedalmond;
  margin-bottom: 10px;
  height: 60px;
}

.namePlayer{
  margin-left: -20px;
}
